<!-- template to add an artist to a festival -->

{% extends "mapper/base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Add an artists to a festival</h1>
{% if festival %}
<form action="{% url 'festival__add_artists_to_festival' festival.id %}" method="post">
{% elif artist %}
<form action="{% url 'artist__add_artist_to_festivals' artist.id %}" method="post">
{% else %}
<form action="{% url 'add_artists_to_festival' %}" method="post">
{% endif %}

    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <p>
        {{ form.as_table }}
        </p>
    {% endfor %}
    <input type="submit" value="Add Artist" />
</form>
{% endblock %}

{% block scripts %}
{% endblock %}