<!-- detail view of an artist -->
{% extends "mapper/base.html" %}
{% block title %}{{ artist.name }}{% endblock %}
{% block body %}
    <h1>{{ artist.name }}</h1>
    
    {% if artist.festivals %}
    <h2>Festivals</h2>
    <ul>
        {% for festival in artist.festivals %}
            <li><a href="{% url 'view_festival' festival.id %}">{{ festival.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <button>
        <a href="{% url 'artist__add_artist_to_festivals' artist.id %}">Add Artist To Festivals</a>
    </button>


{% endblock %}
{% block scripts %}{% endblock %}